header { background-color: #034F3B; color: #F9E490; text-align: center; font-size: 2em; line-height: 200%; background-size: cover; }

h1 { background-color: #034F3B; color: #F9E490; 
    font-family: serif, Palatino, serif;
    text-indent: 1em; }



nav { background-color: #034F3B;  font-family: serif, Palatino, serif; font-size: 1.5em; text-align: center; text-decoration: none; }


  a:link {text-decoration: none; color: #F9E490; }
  a:visited {text-decoration: none; color: #C4F3E0; }
  a:hover {text-decoration: none; color: #FEAD5D; }


body { background-color: #034F3B; color: #F9E490; 
font-family: serif, Palatino, serif; font-size: 2em; text-align: center; }

img { padding-top: 100px; padding-left: 75px; max-width: 100%; height: auto;  }


form { background-color: #034F3B; color: #F9E490;
       font-family: Palatino, sans-serif; font-size: .50em;
       width: 250px; padding-left: 400px; }

label { float: left; clear: left; display: block;
        width: 100px; padding-right: 100px;
        margin-top: 10px; text-align: left; }
input { display: block; margin-top: 10px; padding: 10px; Width: 200px; }
textarea { display: block; margin-top: 10px; }

input[type="submit"] { margin-left: 110px; }



p { color: #F9E490; 
    font-family: serif, Palatino, serif;
    text-align: center;  }


footer { color: #F9E490; }










